.bshadow{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.377);
}
input.ng-touched,textarea.ng-touched{
    background-color: rgba(219, 232, 236, 0.781);
}

input[readonly]{
    background-color: lightgray;
  }


