.example-card {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.39);
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.137);
    border-radius: 10px!important;
    border:1px solid rgb(197, 39, 39)
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  ::-webkit-scrollbar {
    width: 3px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 17, 17); 
    border-radius: 25px;
  }

  @keyframes slideIn{
    0%{
        transform: translateY(-100%);
        transform-origin: top;
    }
    100%{
        transform: translateY(0%);
        transform-origin: top;
    }
  }
.slide-content {
    animation-name: slideIn;
    animation-duration:0.4s;
    animation-timing-function: ease-in;
  }
