<nav class="bg-red-600 w-full">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" (click)="toggleMobileMenu()">
                  <span class="sr-only">Open main menu</span>
                  <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                  <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
              </button>
          </div>
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex items-center">
                  <p class="pt-5 pe-3 font-bold text-2xl text-white">NeoBlogs</p>
              </div>
              <div class="hidden sm:ml-6 sm:block mt-5">
                  <div class="flex space-x-4">
                      <a [routerLink]="['/blogpost']" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white">BlogPosts</a>
                      <a *ngIf="!checkActive('/signup') && !user" [routerLink]="['/signin']" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white cursor-pointer">Login</a>
                      <a *ngIf="checkActive('/signup')" [routerLink]="['/signup']" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white">Signup</a>
                      <a [routerLink]="['/dashboard']" *ngIf="user" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white">Dashboard</a>
                  </div>
              </div>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center gap-x-3 pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <form class="max-w-md w-80" #searchTerm="ngForm" (ngSubmit)="searchData(searchTerm)">
              <label for="searchBlog" class="sr-only">Search Blogs</label>
              <div class="relative">
                <input type="search" id="searchBlog" name="searchBlog" class="block w-full p-3 ps-10 text-sm border rounded-lg border-red-500 focus:border-red-600" placeholder="Search Blogs"
                ngModel
                 required />
                 <button class="h-full text-black font-medium text-xl px-4 py-2 absolute top-0 right-[20%]" *ngIf="isSearchTermValid" (click)="cancelSearch(searchTerm)">
                  X
                </button>
                <button type="submit" class="h-full text-white absolute right-0 bottom-0 bg-black font-medium rounded-r-lg text-sm px-4 py-2">
                  Search
                </button>
              </div>
            </form>
            <button
              type="button"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              [matMenuTriggerFor]="user ? belowMenu : null"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <img
                class="h-9 w-9 rounded-full"
                [src]="
                  user
                    ? user?.ProfileImage
                    : 'https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                "
                alt="profile"
              />
            </button>
            <mat-menu #belowMenu="matMenu" yPosition="below" class="mx-3">
              <button mat-menu-item>{{user?.Username}}</button>
              <button mat-menu-item (click)="openModal('view')">View Profile</button>
              <button mat-menu-item (click)="openModal('update')">Update Profile</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
      </div>
  </div>
  <div *ngIf="mobileMenuOpen" class="sm:hidden" id="mobile-menu">
    <div class="px-2 pb-3 pt-2 flex flex-col">
      <a [routerLink]="['/blogpost']" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white">BlogPosts</a>
      <a *ngIf="!checkActive('/signup')" [routerLink]="['/signin']" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white">Login</a>
      <a *ngIf="checkActive('/signup')" [routerLink]="['/signup']" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white">Signup</a>
      <a [routerLink]="['/dashboard']" *ngIf="user" routerLinkActive="active-link" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-black hover:text-white">Dashboard</a>
    </div>
  </div>
</nav>
<div *ngIf="modal" class="modal fixed top-0 h-screen w-[100%] bg-[#38363675] flex justify-center items-center overflow-y-auto z-20">
  <button [ngClass]="{'absolute right-[26%] top-[28%]':true,'buttoncss': profileAction === 'update'}" (click)="closeModal()">
    &#x274c;
  </button>
    <div *ngIf="profileAction === 'view'" class="bg-white w-[50%] h-[300px] px-20 pt-10 text-justify slide-content border border-[ #83BC2E] rounded">
      <p>UserId : {{user?._id}}</p>
      <p>UserName : {{user?.Username}}</p>
      <p>Email : {{user?.Email}}</p>
      <p>Contact : {{user?.Contact}}</p>
    </div>
  <div *ngIf="profileAction === 'update'" class="px-20 pt-10  mt-8 text-justify slide-content">
    <app-signup></app-signup>
  </div>
</div>
